version: "3.12"

services:
  neo4j:
    image: neo4j:latest
    container_name: my-neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/00000000

  app:
    build:
      context: .
      args:
        RETRIEVER_TYPE: HybridRetriever
    container_name: rag-document
    env_file:
      - .env
    depends_on:
      - neo4j
    ports:
      - "3000:3000"
      - "8000:8000"
    restart: unless-stopped
